*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
}

body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sedan", serif;
}

h1,
h2 {
    font-size: 2.5em;
    text-align: center;
}

h3,
h4 {
    font-size: 1.5em;
}

/*** Header style ***/
header {
    background-color: #DBB7A7;
    color: #fff;
    padding: .5em 0;
    transition: all .5s ease;
    position: fixed;
    box-shadow: 0 3px 10px black;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#menu-principal {
    display: flex;
    align-items: center;
    width: 100%;
}

#menu-principal a img {
    width: 5em;
    height: auto;
    margin-left: 2em;
}

#menu-principal div a {
    display: block;
    padding: .8em 1em;
    color: #E9EFF6;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: .5em;
    transition: all .3s ease;
    margin-left: 1em;
}

#menu-principal div a:hover {
    background-color: #E9ECEF;
    color: #6c3f21;
}

#menu-principal div a.active {
    background-color: #DBB7A7;
    color: #fff;
}

/*********Pedidos*******/

#pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

#photo_history {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    background-image: url(../img/fondo_caramelos.jpg);
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

figure {
    margin: 10px;
    border: 5px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 220px;
    text-align: center;
}

figure:hover {
    transform: scale(1.25);
}

figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

figcaption {
    padding: 10px;
}

.button-group {
    margin-top: 10px;
}

.button-group button {
    background-color: #dabbdf;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #ddd;
}

#size_selector {
    margin: 20px 0;
}

/*****FOOTER****/

footer {
    background-color: #e69370;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer article {
    text-align: end;
}

footer article a {
    color: #333;
    text-decoration: none;
}


@media (max-width: 550px) {

    #menu-principal div {
        flex-wrap: wrap;
        justify-content: center;
    }

    #menu-principal div a {
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }

    #pedidos {
        height: auto;
        padding: 4em 0 0 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .row p {
        font-size: .8em;
    }

    figure {
        width: 50%;
        margin-top: 25px;
    }

    figure img {
        height: auto;
    }

    .button-group button {
        padding: 5px 12px;
        margin: 5px;
    }

    #size_selector {
        margin: 10px 0;
    }

    footer {
        padding: 1em;
    }

    footer article a {
        font-size: .8em;
    }
}